<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Analyzes and visualizes the sentiment of Tweets related to the provided hashtag."
    />
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="../static/css/hashtag_style.css" />
  </head>
  <body>
    <section class="hashtag_input">
      <form id="hashtag-form" action="/process_hashtag" method="POST">
        <label for="hashtag-input">Enter a hashtag:</label>
        <input type="text" id="hashtag-input" name="hashtag" required />
        <button type="submit">Submit</button>
        <div id="loadingtweets" style="display: none">
          Fetching tweets related to the hashtag...
        </div>
      </form>
    </section>
  </body>
</html>
