<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Analyzes and visualizes the sentiment of Tweets related to the provided hashtag."
    />
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <nav class="links-section">
      <ul>
        <li><a href="./about.html">About Me</a></li>
        <li>
          <a href="https://www.linkedin.com/in/vineetha-pattapagalu/"
            >LinkedIn</a
          >
        </li>
        <li><a href="mailto:vpattapa@asu.edu">Email Me</a></li>
      </ul>
    </nav>
    <section class="login-container">
      <form id="loginForm">
        <h2>Login to Twitter</h2>
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username or Email"
          required
        /><br />
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        /><br />
        <button type="submit">Login</button>
        <p class="account-option">
          Don't have an account?
          <a href="https://twitter.com/i/flow/signup">Create account</a>
        </p>
        <div id="loadingSpinner" style="display: none">Loading...</div>
      </form>
    </section>
    <script src="../static/js/login.js"></script>
  </body>
</html>
